<app-bred-crumb
  [items]="[{text: 'Pokemons'}]"
></app-bred-crumb>

<app-page-header
  page-title ="Pokemons"
  button-text = "+ Novo Pokemon"
  button-link = "new"
  button-class = "btn-success"
></app-page-header>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">  <!-- bg significa background -->
            <th>Nome</th>
            <th>Tipo</th>
            <th>Treinador</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of resources">
            <td>
              <strong>{{pokemon.nome}}</strong><br>
            </td>
              <td>
                <strong>{{pokemon.tipo.nome}}</strong><br>
              </td>
                <td>
                <strong>{{pokemon.treinador.nome}}</strong><br>
                <!-- <small>{{pokemon.description}}</small> -->
            </td>
            <td>
                <a [routerLink]="[pokemon.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button (click)="deleteResource(pokemon)" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
