<nav class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" routerLink="/">PokéSony</a>
  <div class="navbar-nav-scroll" id="navbarNav">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pokemons">Pokémons</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/treinadores">Treinadores</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tipos">Tipos</a>
      </li>
    </ul>
  </div>
</nav>
